html,body{
    height: 100%;
}
.jumbotron {
    background-color: aliceblue;
    color: black;
}
.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
}

footer{
    position: fixed; 
    left: 0;    
    bottom: 0;
    width: 100%;
    padding: 10px 10px 0 10px;
    background-color: aliceblue;
    margin-bottom: 0px;
    margin-top: 10px;

}

.btn-reserva{
    width: 100%;
}