html,body{
    height: 100%;
}
.jumbotron {
    background-color: aliceblue;
    color: black;
}
.card-hotel{
    flex: 1 150px;
    margin-top: 10px;
}

footer{
    left: 0;    
    bottom: 0;
    width: 100%;
    padding: 0px 10px 0 10px;
    background-color: aliceblue;
    margin-bottom: 0px;
    margin-top: 10px;

}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.tab-content{
    padding-top: 10px;
}