//Variables
$bgcolor: #f0f8ff;
$yellow: #f6ff00;
$green: #00ff11;
$red: #ff0015;

//Mixins
@mixin margenes($top,$bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
@mixin mymixin($top,$bottom,$padtop, $padbot, $color) {
    margin-top: $top;
    margin-bottom: $bottom;
    padding-top: $padtop;
    padding-bottom: $padbot;
    background-color: $color;
}

html,body{
    height: 100%;
}
.jumbotron {
    background-color:$bgcolor;
    color: black;
}
.card-hotel{
    flex: 1 150px;
    @include margenes(10px, 0px);
}

footer{
    left: 0;    
    bottom: 0;
    width: 100%;
    padding: 0px 10px 0 10px;
    background-color: $bgcolor;
   @include margenes(10px, 0px);

}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.tab-content{
    padding-top: 10px;
}